<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{ title }}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</head> 
<body>

<!-- Start of graph type choice -->
<div data-role="page" id="overview">

	<div data-role="header">
		<h1>{{ title }}</h1>
	</div><!-- /header -->

	<div data-role="content">
		{% for k,v in graphs.iteritems() %}
         <p><a href="#{{ escape(k) }}" data-role="button">{{ v }}</a></p>
		{% end %}	
			
	</div><!-- /content -->

	<div data-role="footer">
		<h1></h1>
	</div><!-- /footer -->
</div><!-- End of graph type choice -->


<!-- Start of interval choice -->
{% for k,v in graphs.iteritems() %}
<div data-role="page" id="{{k}}">

	<div data-role="header">
		<h1>{{ v }}</h1>
	</div><!-- /header -->

	<div data-role="content">
		{% for interval in sorted(intervals, key=lambda key: intervals[key]['sort']) %}
         <p><a href="#{{ '%s-%s' % (k,escape(interval)) }}" data-role="button">{{ intervals[interval]['label'] }}</a></p>
		{% end %}
		<p><a href="/" data-rel="back" data-direction="reverse" data-role="button" data-theme="b">Zurück</a></p>	
	</div><!-- /content -->

	<div data-role="footer">
		<h1></h1>
	</div><!-- /footer -->
</div>
{% end %}
<!-- End of interval choice -->




<!-- Start of graph displays -->
{% for k,v in graphs.iteritems() %}
{% for interval in sorted(intervals, key=lambda key: intervals[key]['sort']) %}
<div data-role="page" id="{{ '%s-%s' % (k,escape(interval)) }}" data-theme="a"> 
 
	<div data-role="header"> 
		<h1>{{ v }}</h1> 
	</div><!-- /header --> 
 
	<div data-role="content" data-theme="a">	
		
			<img width="100%" src="/graph/{{ '%s-%s' % (k,escape(interval)) }}.png">
		
		<p><a href="/" data-rel="back" data-direction="reverse" data-role="button" data-theme="b">Back to Overview</a></p>	
		
	</div><!-- /content --> 
	
	<div data-role="footer">
		<h1></h1> 
	</div><!-- /footer --> 
</div> 
{% end %}
{% end %}
<!-- End of graph displays -->

</body>
</html>
